@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --blanc: #fff;
    --noir: #0c0e0c;
    --grispale: #d0d0d0;
    --grisfonce: #545454;
    --rouge: #a40202;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}


/*  HEADER ...........*/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px;
}


header a img {
    width: 100px;
}



/*  NAV ...........*/
ul#menu {
    display: flex;
    gap: 20px;

}

ul#menu li a {
    text-transform: uppercase;
    color: var(--noir);
    text-decoration: none;
    font-weight: 700;
}

ul#menu li a:hover,
ul#menu li a.active {
    text-transform: uppercase;
    color: var(--rouge);

}

/*  SECTION ...........*/
section {
    display: flex;
    background-color: var(--noir);
    margin-bottom: 24px;
}

#hero {
    width: 67%;
}


.section {
    max-height: max-content;
    align-self: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--blanc);
    text-transform: uppercase;
}

section h2 {

    font-size: 1.75rem;
    font-weight: 400;
    color: var(--blanc);
    text-transform: uppercase;
}

/*  ASIDE ...........*/

aside {
    width: 100%;
    
}

.asideindex {
    display: flex;
    gap: 4rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
}


.aside {
    width: 25%;
}

.asideanalyse {
    display: flex;
    gap: 2rem;
    background-color: var(--grispale);
    margin-bottom: 24px;
    padding: 40px;
}

.asidereferences {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.6rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
}

.asidetiers {
    background-color: var(--grispale);
    padding: 1rem;
}

aside h2,
aside i {
    font-size: 2rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--rouge);
    margin-bottom: 20px;

}

aside h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--noir);
    margin: 20px 0;
}

aside p {
    color: var(--grisfonce);
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 20px 0;
}

aside a {
    color: var(--rouge);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

aside ul {
    color: var(--grisfonce);
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0 20px;
    list-style-type: square;
    text-indent: 1rem;
}

aside a:hover {
    color: var(--noir);
    text-decoration: underline;
}

aside img {
    max-height: 100%;
}

button {
    margin: 2rem 0;
    color: var(--grisfonce);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 1rem;
}

button:hover {
    color: var(--blanc);
    background-color: var(--rouge);
}

/*  FOOTER ...........*/
footer {
    display: flex;
    justify-content: space-between;
    color: var(--blanc);
    padding: 20px;
    background-color: var(--noir);
}

footer a {
    color: var(--blanc);
    text-decoration: none;
}

footer a:hover {
    color: var(--rouge);
    text-decoration: none;
}

footer i {
    margin-right: 10px;
}

footer i:hover {
    color: var(--grispale);
}

/* CSS MODAL DE W3SCHOOLS */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: var(--noir);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    /* MODIFICATION POUR LARGEUR DE L'IMAGE */
    width: 45%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: var(--grispale);
    float: right;
    font-size: 1.75rem;
    font-weight: 700;
}

.close:hover,
.close:focus {
    color: var(--noir);
    text-decoration: none;
    cursor: pointer;
}